<center>

<div class="row">
  <h1>Todo List</h1>
</div>

<!--Make spece between h1 and todo list-->
<div class="row container">
  <br></br>
</div>

<div>
	<ul class="list-group">
	  <li class="list-group-item">Paint cottage</li>
	  <li class="list-group-item">Cut wood</li>
	  <li class="list-group-item">Paint fence</li>
	</ul>
</div>

<div>
<button type="button" class="btn btn-info">Add Item</button>
<%= link_to 'Back', cabins_path, class: 'btn btn-info' %>
</div>

</center>
