<center>

  <div>
    <h1>Todo List</h1>
  <div>


  <div>
      <% @todolists.each do |todolist| %>
    <div class="panel panel-default row">
      <div class="panel-body">
          <div class="col-md-10 text-left">
            <%= todolist.name %>
          </div>
          <div class="col-md-2">
          <%= link_to 'Edit', edit_todolist_path(todolist), class: 'btn btn-info' %>
          <%= link_to 'Destroy', todolist, class: 'btn btn-info', method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="row">
    <%= link_to 'New', new_todolist_path, class: 'btn btn-info' %>
</div>

</center>



